@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
	width: 100%;
	height: 100% !important;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
}
html {
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#homeTable {
	margin: 0 auto;
	border-collapse: collapse;
	width: 70%;
	border-radius: 15px;
	overflow: hidden;
}

#homeTable :where(td, th) {
	padding: 10px;
	text-align: center;
}

#homeTable thead {
	height: 4rem;
	background-color: #1e1c45;
	color: #ffffff;
	font-weight: bold;
	background-image: url("../public/download.svg");
}
#homeTable tbody {
	background-color: #5854a367;
}
#homeTable tbody tr {
	border-top: 1px solid #706bcd67;
}
#homeTable tbody tr:last-child {
	height: 2rem;
	background-color: #1e1c45;
	background-image: url("../public/download.svg");
}
/* ============================ */
#itemsTable {
	margin: 0 auto;
	border-collapse: collapse;
	width: 100%;
	border-radius: 15px;
	overflow: hidden;
}

#itemsTable :where(td, th) {
	padding: 10px;
	text-align: center;
}

#itemsTable thead {
	height: 4rem;
	background-color: #1e1c45;
	/* color: #ffffff; */
	font-weight: bold;
	background-image: url("../public/download.svg");
}
#itemsTable tbody {
	background-color: #5854a367;
	/* color: #c1c1c1; */
}
#itemsTable tbody tr {
	border-top: 1px solid #706bcd67;
}
#itemsTable tbody tr:last-child {
	height: 2rem;
	background-color: #1e1c45;
	background-image: url("../public/download.svg");
}

/* customize scrollbar thumb */
::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.7rem;
	background-color: #c1c1c1;
	border-radius: 2px !important;
	overflow: hidden;
}
::-webkit-scrollbar-thumb {
	background-color: #383484;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #484581;
}
::-webkit-scrollbar-thumb:active {
	background-color: #706bcd;
}
::-webkit-scrollbar-track {
	background-color: #c1c1c1;
}
::-webkit-scrollbar-track:hover {
	background-color: #c1c1c1;
}
::-webkit-scrollbar-track:active {
	background-color: #c1c1c1;
}
